.bigtext{
	font-size: 15px;
	font-weight: bold;
}
table tr td.cellTextRight{
	text-align: right;
}
table tr td.cellTextCenter{
	text-align: center;
}
.textMajor{
	font-weight: bold;	
}
.atleast-minheight{
	min-height:300px;
}
.button-padding{
	padding-top: 7px;
}
.printTextSize{
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}
.print:last-child {
    page-break-after: auto;
}
.controls .radio {
  padding-left: 24px;
}

@media print {
  body * {
    visibility:hidden;
  }
  #printable_area, #printable_area * {
    visibility:visible;
  }
  #printable_area {
    position:absolute;
    left:0;
    top:0;
  }
}